<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <h3>Customer interface</h3>
          <p>Customer list page</p>
          <button type="button" class="btn btn-secondary aling-center">Users</button>
        </div>
        <div class="col-sm-4">
          <h3>Company interface</h3>
          <p>Company list page</p>
          <button type="button" class="btn btn-secondary aling-center">Companies</button>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
  </body>
</html>